<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Super Secure Translation Implementation</title>
  </head>

  <body>
    <h1>
      Welcome to the Super Secure Translation Implementation (SSTI) 
    </h1>
      <body>
        <p>
          Who needs security by obscurity when your software anti-hack checks are flawless? Check them out below (this is the code that runs this site):
        </p>

        <pre>
{{code}}
        </pre>
      </body>
  </body>
</html>