<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Super Secure Translation Implementation</title>
  </head>

  <body>
    <h1> 
      Welcome to the Super Secure Translation Implementation (SSTI) 
    </h1>
    <p>
      We use several layers of military grade anti-hack checks to make sure this page is safe from common web vulnerabilities. This page will display your code back to you assuming it passes these checks.
    </p>
    <p>
      Try it for yourself, but be mindful of HTML special characters like '+'! The output of your command is:
    </p>

  </body>
    <code>
      {% block content %}
      {% endblock %}
    </code>
  </body>
</html>