#score {
    top: 20px;
    left: 20px;
    background-color: transparent;
    transition: transform 100ms;
    transition-timing-function: linear;
}
#scoreboardButton {
    position: absolute;
    z-index: 999;
    top: 20px;
    right: 20px;
}
#box {
    width: 2vh;
    height: 2vh;
}
#wall1 {
    width: 1vw;
    height: 100vh;
    left: 49.5vw;
    transition: top 1000ms;
    transition-timing-function: linear;
}
#modal-backdrop {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    transition-timing-function: linear;
    display: none;
    justify-content: center;
    align-items: center;
}
#modal {
    display: flex;
    width: 350px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.25);
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
}
#buttonbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#play-backdrop {
    position: relative;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    transition-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wall2 {
    width: 1vw;
    height: 100vh;
    left: 49.5vw;
    transition: bottom 1000ms;
    transition-timing-function: linear;
}
#scoreboard-body {
    padding: 20px;
    overflow: auto;
}
.thing {
    display: block;		 
    position: fixed;		
    z-index: 10;
    background-color: greenyellow;
    transition: background-color 1000ms;
    transition-timing-function: linear;
}
html {
    height: 100vh;
    overflow: hidden;
}
body {
    background-image:    linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('/static/background.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
}