<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bouncy Box</title>
		<link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.css">
        <link rel="stylesheet" href="/static/style.css">
	</head>
	<body id="scoreboard-body">
	    <button type="button" id="scoreboardButton" class="btn btn-primary" onclick="location.href='/';">Play again!</button>
		<h1>Bouncy Box Scoreboard</h1>
		<table class="table table-hover" id="scores">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Name</th>
					<th>High Score</th>
                    <th>Games Played</th>
                    <th>VIP Status</th>
				</tr>
			</thead>

			{% for score in scores %}
				<tr class="table-active">
					<td>{{ score[0] }}</td>
					<td {% if 'VIP' == score[4] %}style="color: orange;"{% endif %}>{{ score[1] }}</td>
					<td>{{ score[2] }}</td>
					<td>{{ score[3] }}</td>
					<td>{{ score[4] }}</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
