<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bouncy Box</title>
		<link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.css">
        <link rel="stylesheet" href="/static/style.css">
	</head>
	<body id="scoreboard-body">
	    <button type="button" id="scoreboardButton" class="btn btn-primary" onclick="location.href='/scoreboard';">Scoreboard</button>
		<h1>{{ username }}'s Stats</h1>
		<h2>High score: {{ highscore }}</h2>
		<h2>Games played: {{ gamesplayed }}</h2>
		<h2>Date joined: {{ datejoined }}</h2>
		<h2>VIP:</h2>
		{% if vip %}

			<div id="modal-backdrop">
				<div id="modal">
					<form id="login" action="/flag" method="POST">
						<button type="submit" disabled style="display: none" aria-hidden="true"></button>
						<p>We take security very seriously here at Bouncy Box, so we've implemented <strong>two step verification</strong>! This means you'll need to log in again:</p>
						<input class="form-control me-sm-2" type="text" placeholder="Username" id="username_input" name="username_input">
						<input class="form-control me-sm-2" type="password" placeholder="Password" id="password_input" name="password_input">

						<div id="buttonbox">
							<button type="button" class="btn btn-primary my-2 my-sm-0" id="login-button" style="margin-left: auto;">Log in</button>
						</div>
						<p id="info_label" style="display:none;"></p>
					</form>
				</div>
			</div>

			<p>Thank you for being a dedicated supporter of Bouncy Box! Here's a free flag as a token of our appreciation of your support over the last 3 years!</p>
			<button type="button" class="btn btn-success" onclick="show_flag_modal()">Free flag!</button>
			<br><br>
		{% else %}
			<p>Only players who have been playing Bouncy Box for the last three years are eligible for VIP. Keep playing and maybe one day you'll earn a free flag!</p>
		{% endif %}
		<button type="button" class="btn btn-primary" onclick="location.href='/';">Play again!</button>
		<script src="/static/stats.js"></script>
	</body>
</html>
